# Auto detect text files and perform LF normalization
* text=auto


<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <meta charset="utf-8">
    <title>𝐒𝐏𝐈𝐂𝐘𝐑𝐏</title>
    <meta name="description" content=">WalkerX">
    <meta name="author" content="XLife">
    <meta name="description" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet" >	
	<link href="css/font-awesome.min.css" rel="stylesheet">	
	<link href="css/icofont.css" rel="stylesheet">
	<link href="css/prettyPhoto.css" rel="stylesheet">
	<link href="css/theme.css" rel="stylesheet">	
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/blue.css" rel="stylesheet" class="colors">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
	<link rel="icon" href="img/favicon.png">
</head>
<body data-spy="scroll" data-target="#mynav" data-offset="85">
<div id="preloader">
	<div id="status">
		<div class="spinner">
			  <div class="rect1"></div>
			  <div class="rect2"></div>
			  <div class="rect3"></div>
			  <div class="rect4"></div>
			  <div class="rect5"></div>
		</div>
	</div>
</div>
<header>
<div id="navigation">
	<div class="navbar-wrapper">
		<nav class="navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="row">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="index-2.html"></a>
					</div>
					<div id="mynav" class="navbar-collapse collapse">
						<ul class="nav navbar-nav main-nav-list">
							<li><a href="#team">Komanda</a></li>
							<li><a href="#server">Serverio aprašymas</a></li>
							<li><a href="#armurerie">Prisijunk prie mūsų!</a></li>
							<li><a href="login/connexion.html"></a></li>
						</ul>
					</div>		
				</div>
			</div>
		</nav>
	</div>
</div>
<section id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
			<div class="item active" style="background-image: url(img/background.jpg) ;     background-attachment: fixed;
			background-size: cover;">
				<div class="caption">
					<h1 class="animated fadeInLeftBig"> 𝐒𝐏𝐈𝐂𝐘 <strong> </strong></h1>
					<p class="animated fadeInRightBig">𝐑𝐎𝐋𝐄𝐏𝐋𝐀𝐘</p>
					<a data-scroll class="learn-more animated fadeInUpBig" href="#server">Visi Aprašymai</a>
				</div>
			</div>
        </div>
    </div>	
</section>
</header>
<section class="section-wrapper" id="team">
	<div class="team">
		<div class="meet-the-team">			
			<div class="element-title">			
				<div class="row">	 		
					<div class="container">	 
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">			
						<h1><span>Komanda</span></h1>								
					</div>					
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Komandos <span class="main-color">Aprašymas</span></h3>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="container">	
					<div class="wrapper-team">	
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
											<div class="team-member-image">
												<img src="img/team/team-1.jpg" alt="" />	
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">Pyka</span> | Savininkas</h4>
												<div class="team-member-role">Pyka#0007</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
											<div class="team-member-image">
												<img src="img/team/team-2.jpg" alt="" />
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">Hamčiarka</span> | Savininkas</h4>
												<div class="team-member-role">Hamčiarka#2021</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
											<div class="team-member-image">
												<img src="img/team/team-3.jpg" alt="" />
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">Padanginis</span> | Vyr. Administracija</h4>
												<div class="team-member-role">Padanginis#7777</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-3 col-md-3">
									<div class="team-member">
										<div class="team-member-holder wow flipInY" data-wow-duration="1s" data-wow-delay="300ms">
											<div class="team-member-image">
												<img src="img/team/team-4.jpg" alt="" />	
												<div class="team-overlay">
													<div class="img-overlay"></div>
												</div>
											</div>
											<div class="team-member-meta">
												<h4 class="team-member-name"><span class="main-color">Zirxas</span> | Vyr. Administracija</h4>
												<div class="team-member-role">Zirxas#2085</div>
											</div>
										</div>
									</div>
								</div>
					</div>
				</div>
			</div>
		</div>
		<div id="team-single-wrap">
			<div id="team-single">
			</div>
		</div>
	</div>
</section> 
<section class="section-wrapper" id="server">
	<div class="team">
		<div class="meet-the-team">			
			<div class="element-title">			
				<div class="row">	 		
					<div class="container">	 
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">			
						<h1><span>Serverio Aprašymas</span></h1>								
					</div>					
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Nevyksta jokio freeroam'o, pamatę kad kažkas pažeidinėja taisykles, nedelsiant rašykite /report</h3>
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Savininkai yra suaugusio amžiaus žmonės su kuriais puikiai sutarsite :)</h3>
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Gaujose gali būti tik 6 žmonės tad nebus nesamonių su gaujomis</h3>
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Gerą bei suaugusią community</h3>
						<h3 class=" wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms"><span class="main-color">Administracija renkama gera tad nebus jokių nesamonių tarp Administracijos</h3>


					</div>
				</div>
			</div>
		</div>
		<div id="team-single-wrap">
			<div id="team-single">
			</div>
		</div>
	</div>
</section> 
<section class="section-wrapper" id="armurerie">
	<div class="works">
		<div class="element-title">			
			<div class="row">	 		
				<div class="container">
					<div class="section-title wow fadeInDown" data-wow-duration="1s" data-wow-delay="300ms">			
						<h1><span>Prisijunk Prie Mūsų</span></h1>							
					</div>				
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Prisijungęs prie Spicy RolePlay nepasigailėsi</h3>
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms">Prisijunk į discord'ą del daugiau informacijos, Norint prisijungti į discord'ą, eikite į Google ir įrašykite Link'ą apačioje</h3>
					<h3 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="300ms"><span class="main-color">https://discord.gg/JBvPZcRFgg</span> </h3>

				</div>
			</div>
		</div>
		<div class="row" style="margin-top: 2%">
			<div class="container-fluid">	 		
				<div class="wrapper-works">
					<div class="portfoliO">
						<iframe src="https://discord.com/widget?id=809658808028233738&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
					</div>		
				</div>
			</div>
		</div>
		<div id="works-single-wrap">
			<div id="works-single">
			</div>
		</div>
	</div>
</section> 
<div class="bottom-footer">
	<div class="container"> 
		<div class="bottom-footer-left wow fadeInUp" data-wow-duration="1s" data-wow-delay="450ms">
			<p> SPICY <a href="https://xlife.fr" style="color: red;"><b>ROLEPLAY</b></a></span></p>
			<p><span>&#169; Pasijungęs FiveM paspausk F8 ir rašyk <a href="https://xlife.fr" style="color: lightblue;"><b>Connect 91.211.246.26</b></a></span></p>
			<p> Savininkų <a href="https://xlife.fr" style="color: white;"><b>Discord'ai</b></a></span></p>
			<p> ══════════════════════<a href="https://xlife.fr" style="color: white;"><b>═══════════</b></a></span></p>
			<p> Hamčiarka<a href="https://xlife.fr" style="color: white;"><b>#2021</b></a></span></p>
			<p> Pyka<a href="https://xlife.fr" style="color: white;"><b>#0007</b></a></span></p>

		</div>	
	</div>
</div>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/retina.min.js"></script>
	<script src="js/jquery.easing.min.js"></script>
	<script src="js/wow.min.js"></script>	
	<script src="js/waypoints.min.js"></script>	
	<script src="js/jquery.countTo.js"></script>
	<script src="js/jquery.mixitup.min.js"></script>
	<script src="js/jquery.prettyPhoto.js"></script>
	<script src="js/jquery.knob.min.js"></script>	
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/custom.js"></script>
	<script type="text/javascript">
	var valid = ``;
	if(valid == 'true'){
		$('#confirmBuy').modal('toggle');
	
	}
</script>
</body>
</html>